/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

#my-button{
  all: unset;
  background-color: rgb(147, 148, 148);
  color: black;
  padding: 6px;
  border-style: groove;
  border-color: black;
  border-radius: 7px;
  margin: 10px;
  cursor: pointer;
}


nav {
  position: fixed;
  width: 100vw;
  height: 40px;
}

#nav-placeholder{
  height: 40px;
}

nav ul{
  list-style-type: none;
  display: flex;
  background-color: rgba(30, 94, 129, 0.628);
}

nav ul li{
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
  cursor: pointer;
}