/* whole page background */
body {
  background-color: rgb(0, 0, 0);
}

/* backgroudn colours */
.bg-dark_green {
  background-color: #47632e;
}

.bg-dark-blue{
  background-color: darkblue;
}

/* text colours */
.text-white {
  color: white;
}

