/* whole page background */
body{
  background-color: rgb(18, 13, 8);
}

/* backgroudn colours */
.bg-dark_green {
  background-color: #47632e;
}

.bg-white {
  background-color: white;
}

/* text colours */
.text-white {
  color: white;
}

.text-green{
  color: #2c3e1d;
}

a{
  color: rgb(172, 185, 186);
}

a:hover{
  color: blue;
}


