/* backgroudn colours */
.bg-marine_blue {
  background-color: #47632e;
}

.bg-bright_pink {
  background-color: #ff0084;
}

/* text colours */
.text-white {
  color: white;
}

body{
  background-color: rgb(18, 13, 8);
}